:javascript
	$(function(){
		var chatbutton = $("#chatbutton");
		var chat = $("#lschat");
		var player = $("#lsplayer");
		
		chatbutton.click(function(){
			if(chat.is(":visible")){
				chat.hide();
				player.width("100%");
				chatbutton.html("Show Chat");
			} else {
				chat.show();
				player.width("80%");
				chatbutton.html("Hide Chat");
			}
		});
		$("#playeronly").click(function(){
			window.open("/player/#{@stream}");
		});
		$("#chatonly").click(function(){
			window.open("/chat/#{@stream}");
		});
		$("#watchbutton").click(function(){
			st = $("#streamlist").find(":selected").text();
			if(st == "/home")st = '/';
			window.location = st;
		});
		window.onresize = function(){
			chat.height(window.innerHeight);
			player.height(window.innerHeight);
		}
		chat.height(window.innerHeight);
		player.height(window.innerHeight);
	});
#streamcontrols
	%select#streamlist
		- @streams.each do |stream|
			%option= stream
	%button#watchbutton Watch
	%button#chatbutton Hide Chat
	%button#playeronly Player
	%button#chatonly Chat
#player
	%iframe#lsplayer{:src => "http://www.livestream.com/newchannel/popoutplayer?channel=#{@stream}"}
#chat
	%iframe#lschat{:src => "http://www.livestream.com/#{@stream}/chat?tab=chat-livestream"}
